
*{
    text-align: center;
}

.title {
    color: blue;
}

.navBar {
    border: 1px solid gray;
    background-color: darkblue;
    padding:15px;
}

.button {
    background-color: #fff;
    padding: 10px;
    border: none;
}